.Pantalla2{
    position: relative;
    width: 0px;
    height: 0px;
    left: -218px;
    top: 10px;
    background: #FFFFFF;
}

.Pantalla2 .Grupo3{
    position: absolute;
    width: 1512px;
    height: 100px;
    left: 205px;
    top: 0px;
    background-color: #ffffff;
    }
    .Pantalla2 .Grupo3 .Im{
        position: absolute;
    width: 1512px;
    height: 566px;
    left: 0px;
    top: 100px;
    
    background: url(image.png);
    }
    .Pantalla2 .Grupo3 .Im .te{
    position: absolute;
    width: 601px;
    height: 226px;
    left: 197px;
    top: 256px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 112px;
    
    color: #FFFFFF;
    }
    .Pantalla2 .Grupo3 .Ico{
    position: absolute;
    width: 193px;
    height: 47.85px;
    left: 197px;
    top: 24.15px;
    background-color: #ffffff;
    }
    .Pantalla2 .Grupo3 .Ico .Ralla{
    position: absolute;
    width: 142px;
    height: 3px;
    left: 40px;
    top: 10px;
    
    background: #6E29A9;
    }
    
    .Pantalla2 .Grupo3 .Ico .Texto2{
        position: absolute;
    width: 153px;
    height: 40px;
    left: -13px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    
    color: #6E29A9;
    }
    
    .Pantalla2 .Grupo3 .Ico .Logo{
    position: absolute;
    width: 1512px;
    height: 100px;
    left: -50px;
    top: -10px;
    
    }
    .Pantalla2 .Grupo3 .GrupoNav{
    position: absolute;
    width: 439px;
    height: 36px;
    left: 876px;
    top: 34px;
    background-color: #ffffff;
    }
    .Pantalla2 .Grupo3 .GrupoNav .Inicio{
    position: absolute;
    width: 49px;
    height: 23px;
    left: 10px;
    top: -10px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #6E29A9;
    }
    
    .Pantalla2 .Grupo3 .GrupoNav .Acercade{
    position: absolute;
    width: 91px;
    height: 23px;
    left: 130px;
    top: -10px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #01A1E9;
    }
    
    .Pantalla2 .Grupo3 .GrupoNav .Aplicacion{
        position: absolute;
        width: 91px;
        height: 23px;
        left: 300px;
        top: -10px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        
        color: #01A1E9;
        }


 .Pantalla2 .Txto{
 position: absolute;
width: 795px;
height: 75px;
left: 570px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 75px;
/* identical to box height */


color: #8200FF;
        }

        .Pantalla2 .Parrafo{
        position: absolute;
width: 750px;
height: 180px;
left: 280px;
top: 980px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #000000;
        }

        .Pantalla2 .imagen{

            position: absolute;
width: 366px;
height: 250px;
left: 1100px;
top: 990px;

background: url(image.png);
        }

        .Pantalla2 .Posicion{
        position: absolute;
width: 596px;
height: 56px;
left: 280px;
top: 1310px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #1B314F;
        }
        .Pantalla2 .Tx{
            position: absolute;
width: 1118px;
height: 101px;
left: 280px;
top: 1400px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #000000;
        }

        .Pantalla2 .Txt{
        position: absolute;
width: 447px;
height: 42px;
left: 280px;
top: 1650px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;

color: #523E97;
        }

        .Pantalla2 .Testof{
        position: absolute;
width: 539px;
height: 69px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
left: 280px;
top: 1740px;
color: #000000;
        }


        .Pantalla2 .Rectangulo3{
            position: absolute;
            width: 1512px;
            height: 189px;
            left: 212px;
            top: 1800px;
            
            background: #1B314F;
        }
        .Pantalla2 .Rectangulo3 .Texto{
            position: absolute;
        width: 245px;
        height: 40px;
        left: 1070px;
        top: 80px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        
        color: #ffffff;
            
        }
        
        .Pantalla2 .Rectangulo3 .Texto2{
        position: absolute;
        width: 153px;
        height: 40px;
        left: 251px;
        top: 80px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
        
        color: #6E29A9;
        }
        .Pantalla2 .Rectangulo3 .Rallita{
        position: absolute;
        width: 160px;
        height: 3px;
        left: 251px;
        top: 70px;
        
        background: #6E29A9;
        }
        .Pantalla2 .Rectangulo3 .Logo{
        position: absolute;
left: 13.1%;
right: 83.93%;
top: 45%;
bottom: 4.76%;

background: url(.png);
    }

       